In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('MKTCAP_LN_UNADJ.csv', encoding = 'cp932')

# df.shape  # 16711 x 52
df = df.drop(df.columns[0], axis = 1 )
df.head()

,security_code,ddate,売上,営業利益,純利益,総資産,現金･現金同等物,有価証券,流動資産,総長期投資,...,長期社債(当期返済分),長期借入金(当期返済分),少数持分,自己株金額,人件費,税引前利益,非流動資産合計,自己株式数,発行済株式数,value
0,AAL,2000,14824.000,2368.000,1957.000,30616.000,1061.000,2344.000,8127.000,935.000,...,0,0.0,2646.0,-0.0,-3067.000,3444.000,22489.000,0.0,1483.8861,22469.2680
1,ABF,2000,4406.000,327.000,138.000,3867.000,65.000,1133.000,2220.000,4.000,...,0,0.0,78.0,-0.0,-581.000,245.000,1647.000,0.0,791.6740,2652.1079
2,ACL,2000,245.360,13.484,8.232,146.453,8.461,0.000,86.766,0.000,...,0,0.0,0.0,-0.0,-28.867,12.451,59.687,0.0,35.4745,116.6681
3,ADB,2000,32.645,2.448,1.466,23.528,0.412,0.000,6.764,0.677,...,0,0.0,0.0,-0.0,-5.897,2.239,16.764,0.0,0.4720,20.2960
4,ADN,2000,115.721,34.225,24.126,274.148,45.815,3.054,91.628,25.218,...,0,0.0,0.0,-0.0,-34.826,33.961,182.520,0.0,240.4588,884.2819

In [28]:
df[df['ddate'] == 2015]['value'].describe()

count      1362.000000
mean       2395.904387
std       17693.725001
min           0.000000
25%           7.833900
50%          51.008350
75%         375.677350
max      375211.984500
Name: value, dtype: float64

In [27]:
df[df['ddate'] == 2015]['security_code'].describe()

count     1362
unique    1362
top        TAX
freq         1
Name: security_code, dtype: object

In [40]:
# any NA for unadjusted MKTCAP 
df.isnull().any(axis = 0)['value']

False

# from DB

In [4]:
tk_2015 = pd.read_csv('tk_2015.csv', encoding = 'cp932')
tk_2015.head()

  security_code
0          7DIG
1           888
2           AA/
3           AAA
4           AAL

In [5]:
tk_mc2015 = pd.read_csv('tk_mc2015.csv', encoding = 'cp932')

tk_mc2015.head()

  security_code
0          7DIG
1           888
2           AA/
3           AAA
4           AAL

In [9]:
print (tk_2015.shape)
print(tk_mc2015.shape)

(1362, 1)
(1271, 1)

In [16]:
pd.merge(tk_2015, tk_mc2015, on = 'security_code', how = 'outer')

     security_code
0             7DIG
1              888
2              AA/
3              AAA
4              AAL
5             AAOG
6              AAU
7              AAZ
8              ABC
9             ABDP
10             ABF
11            ABZA
12             ACA
13             ACC
14             ACH
15             ACL
16             ACP
17            ACRL
18            ACSO
19             ACT
20             AD4
21             ADA
22            ADAM
23             ADB
24            ADES
25             ADN
26             ADT
27             AEG
28             AEN
29             AEO
...            ...
1332           WPG
1333          WPHO
1334           WPP
1335          WRES
1336          WSBN
1337           WSG
1338           WSL
1339           WSP
1340           WTB
1341           WTE
1342           WTG
1343           WTI
1344           WYG
1345           WYN
1346           XAR
1347           XLM
1348           XPP
1349          YNGN
1350          YOLO
1351           YOU
1352           ZBO
1353           ZEG
1354           ZIN
1355          ZIOC
1356           ZOL
1357           ZOO
1358           ZPG
1359           ZTF
1360           ZYT
1361           ZZZ

[1362 rows x 1 columns]